body {
    background-color: sandybrown;
  }
  p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 60px;
  }
  #tema {
    color: red;
  }
  #tema2 {
    color: darkred;
    font-size: 1.5em;
  }