body {
    background-color: sandybrown;

    justify-content: center;
    align-items: center;
    height: 100vh;
  }

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: black;
    font-size: 2em;
}

  #countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: firebrick;
    font-size: 3em;
  }
  
  #countdown p {
    margin: 0;
    padding: 1rem;
  }
